

<nav class="pagination-container">
    <ul class="pagination-box">
        <li id="eksi3Box" class="page-item">
            <a id="eksi3" class="page-link"><i class="fa-solid fa-angles-left"></i></a>
        </li>

        <li id="eksi1Box" class="page-item page-item-disabled">
            <a id="eksi1" class="page-link"></a>
        </li>
        <li class="page-item">
            <a id="currentPage" class="page-link paginationactive"></a>
        </li>
        <li id="arti1Box" class="page-item">
            <a id="arti1" class="page-link"></a>
        </li>
        
        <li id="arti3Box" class="page-item">
            <a id="arti3" class="page-link"><i class="fa-solid fa-angles-right"></i></a>
        </li>
    </ul>
</nav>