@model ListModel
    
<div class="title">
    <h2>LİSTE DÜZENLE</h2>
</div>
<div class="content">
    <div class="form-container">
        <div class="table-btn-geri-box">
            <a class="table-btn-geri" asp-controller="List" asp-action="ListList" asp-route-id="@Model.ProId">Geri</a>
        </div>
        <form class="form-container-alt" asp-controller="List" asp-action="ListEdit" method="post">
            <input type="hidden" asp-for="ListId">
            <input type="hidden" asp-for="ListSort">
            <input type="hidden" asp-for="ProductId">
            <input type="hidden" asp-for="ProId">
            <div class="form-item-3">
                <div class="form-item-1">
                    <span class="validation" asp-validation-for="ListTitle"></span>
                    <label>Başlık</label>
                    <input asp-for="ListTitle" type="text">
                </div>
                <div class="form-item-1">
                    <label>Listeleme Konumu</label>
                    <select asp-for="ListLocation" class="select">
                        <option value="Ozel">Ürüne Özel</option>
                        <option value="Genel">Tüm Ürünler</option>
                    </select>
                </div>
                <div class="form-item-1">
                    <label>Listeleme Tipi</label>
                    <select asp-for="ListType" class="select">
                        <option value="Standart">Kaydırma yok</option>
                        <option value="Kaydirmali">Kaydırma var</option>
                    </select>
                </div>
            </div>
            <div class="form-item-2">
                <div class="form-item-1">
                    <span class="validation" asp-validation-for="ListColumn"></span>
                    <label>Kolon Sayısı</label>
                    <input asp-for="ListColumn" type="text">
                </div>
                <div class="form-item-1">
                    <span class="validation" asp-validation-for="ListApproval"></span>
                    <label>Onay Durumu</label>
                    <select asp-for="ListApproval" class="select">
                        <option value="True">Evet</option>
                        <option value="False">Hayır</option>
                    </select>
                </div>
            </div>
            <div class="form-btn-kaydet-box">
                <button class="form-btn-kaydet" type="submit">Kaydet</button>
            </div>
        </form>
    </div>
</div>