@model Category2Model

<div class="title">
    <h2>KATEGORİ DÜZENLE</h2>
</div>
<div class="content">
    <div class="form-container">
        <div class="table-btn-geri-box">
            <a class="table-btn-geri" asp-controller="Category2" asp-action="Category2List" asp-route-id="@Model.CategoryId">Geri</a>
        </div>
        <form class="form-container-alt" asp-controller="Category2" asp-action="Category2Edit" method="post" enctype="multipart/form-data">
            <input type="hidden" asp-for="CategoryId">
            <input type="hidden" asp-for="Category2Id">
            <input type="hidden" asp-for="Category2Sort">
            <div class="form-item-1">
                <span class="validation" asp-validation-for="Category2SeoTitle"></span>
                <label>Seo Başlık</label>
                <input asp-for="Category2SeoTitle" type="text">
            </div>
            <div class="form-item-1">
                <span class="validation" asp-validation-for="Category2SeoDescription"></span>
                <label>Seo Açıklama</label>
                <input asp-for="Category2SeoDescription" type="text">
            </div>
            <div class="form-item-1">
                <span class="validation" asp-validation-for="Category2SeoKeyword"></span>
                <label>Seo Anahtar Kelime</label>
                <input asp-for="Category2SeoKeyword" type="text">
            </div>
            <div class="form-item-1">
                <span class="validation" asp-validation-for="Category2Name"></span>
                <label>Ad *</label>
                <input asp-for="Category2Name" type="text">
            </div>
            <div class="form-item-1">
                <span class="validation" asp-validation-for="Category2Url"></span>
                <label>Url *</label>
                <input asp-for="Category2Url" type="text" placeholder="gitmek-istedigim-en-guzel-bolge">
            </div>
            <div class="form-item-1">
                <span class="validation" asp-validation-for="Category2Description"></span>
                <label>Açıklama</label>
                <textarea asp-for="Category2Description" id="CkEditor"></textarea>
            </div>
            <div class="form-item-1">
                <label class="resim-label">Resim <span class="tavsiye">(önerilen boyut: 1920 x 200)</span></label>
                <input type="hidden" asp-for="Category2Image">
                @* Validationdan sonra sayfa yenilenirse, DB'den gelen BlogImage değerini sakladık *@
                <img src="~/img/@Model.Category2Image" alt="" class="form-img">
                <input class="resim-input" type="file" name="file">
            </div>
            <div class="form-item-3">
                <div class="form-item-1">
                    <label>Ana Menü Görünürlük</label>
                    <select asp-for="Category2Visibility" class="select">
                        <option value="MenuTrue">Ana Menüde Görünsün</option>
                        <option value="MenuFalse">Ana Menüde Görünmesin</option>
                        <option value="Link">Sadece Link İle Ulaşılsın (Boş Sayfa)</option>
                    </select>
                </div>
                <div class="form-item-1">
                    <span class="validation" asp-validation-for="Category2ListType"></span>
                    <label>Listeleme Tipi</label>
                    <select asp-for="Category2ListType" class="select">
                        <option value="Urun">Ürün Listesi</option>
                        <option value="Icerik">İçerik</option>
                    </select>
                </div>
                <div class="form-item-1">
                    <label>Onay Durumu</label>
                    <select asp-for="Category2Approval" class="select">
                        <option value="True">Onaylı</option>
                        <option value="False">Onaylı Değil</option>
                    </select>
                </div>
            </div>
            <div class="form-btn-kaydet-box">
                <button class="form-btn-kaydet" type="submit">Kaydet</button>
            </div>
        </form>
    </div>
</div>