@{
    ViewData["Title"] = "ERROR|404";
    Layout = "_Layout";
}

<link rel="stylesheet" href="~/HomeCss/style-error.css" />

    <div class="error-container">
        <div class="error-box">
            <h1>404</h1>
            <h2>SAYFA BULUNAMADI</h2>
            <a href="/">ANASAYFA</a>
        </div>
    </div>