@model FooterAltModel

    <div class="footer-detail-content-container">
        <div class="footer-detail-content-box">
            <p class="footer-detail-title">@Model.FooterAlt.FooterAltTitle</p>
            @Html.Raw(Model.FooterAlt.FooterAltContent)
        </div>
    </div>