@model SubscribeModel

<div class="title">
    <h2>ABONE EKLE</h2>
</div>
<div class="content">
    <div class="form-container">
        <div class="table-btn-geri-box">
            <a class="table-btn-geri" asp-controller="Subscribe" asp-action="SubscribeList">Geri</a>
        </div>
        <form class="form-container-alt" asp-controller="Subscribe" asp-action="SubscribeCreate" method="post">
            <input type="hidden" asp-for="SubscribeDate" value="@DateTime.Now.ToString("dd.MM.yyyy HH:mm")">
            <div class="form-item-1">
                <span class="validation" asp-validation-for="SubscribeMail"></span>
                <label>e Mail</label>
                <input asp-for="SubscribeMail" type="text">
            </div>
            <div class="form-item-2">
                <div class="form-item-1">
                    <label>e Mail Onay</label>
                    <select asp-for="SubscribeMailApproval" class="select">
                        <option value="True">Evet</option>
                        <option value="False" selected>Hayır</option>
                    </select>
                </div>
                <div class="form-item-1">
                    <label>İletişim Onay</label>
                    <select asp-for="SubscribeContactApproval" class="select">
                        <option value="True">Evet</option>
                        <option value="False" selected>Hayır</option>
                    </select>
                </div>
            </div>
            <div class="form-btn-kaydet-box">
                <button class="form-btn-kaydet" type="submit">Kaydet</button>
            </div>
        </form>
    </div>
</div>