@model UserSifreYenileModel

<div class="form-login-container">
    <form class="form-login-container-alt" href="SifreYenile" method="post">
        <input type="hidden" asp-for="UserId">
        <input type="hidden" asp-for="Token">
        <div class="form-login-item-1">
            <h1 class="admin-h1">Şifre Yenile</h1>
        </div>
        <div class="form-login-item-1">
            <span class="validation" asp-validation-for="NewPassword"></span>
            <label>Yeni Şifre</label>
            <input asp-for="NewPassword" type="password">
        </div>
        <div class="form-login-item-1">
            <span class="validation" asp-validation-for="NewRePassword"></span>
            <label>Yeni Şifre Tekrar</label>
            <input asp-for="NewRePassword" type="password">
        </div>
        <div class="form-login-item-1">
            <button class="form-login-btn-gonder" type="submit">Gönder</button>
        </div>
    </form>
</div>