@model BankAccountModel

<div class="title">
    <h2>BANKA HESABI DÜZENLE</h2>
</div>
<div class="content">
    <div class="form-container">
        <div class="table-btn-geri-box">
            <a class="table-btn-geri" asp-controller="BankAccount" asp-action="BankAccountList">Geri</a>
        </div>
        <form class="form-container-alt" asp-controller="BankAccount" asp-action="BankAccountEdit" method="post">
            <input type="hidden" asp-for="BankAccountId">
            <input type="hidden" asp-for="BankAccountSort">
            <div class="form-item-2">
                <div class="form-item-1">
                    <span class="validation" asp-validation-for="BankAccountName"></span>
                    <label>Ad *</label>
                    <input asp-for="BankAccountName" type="text">
                </div>
                <div class="form-item-1">
                    <span class="validation" asp-validation-for="BankAccountIban"></span>
                    <label>Iban *</label>
                    <input asp-for="BankAccountIban" type="text">
                </div>
            </div>
            <div class="form-btn-kaydet-box">
                <button class="form-btn-kaydet" type="submit">Kaydet</button>
            </div>
        </form>
    </div>
</div>